In [1]:
from typing import Annotated, TypedDict
from enum import Enum
from pydantic import BaseModel, Field

### Dict Validations

In [30]:
#Leaves the dictionary as a dictionary only for type hinting and no validation or validation errors
class Movie(TypedDict):
    name:str
    year:int
movie_1 = Movie(name="James", year=2009, stars=10)
type(movie_1), movie_1, movie_1.get('name'), movie_1.get('year')

(dict, {'name': 'James', 'year': 2009, 'stars': 10}, 'James', 2009)

In [ ]:
#Provides type hints, data validation and validation errors, final instance will not be a python dict.
class movie(BaseModel):
    name:str
    year:int = Field(ge=1920, le=2050)
movie_2 = movie(name="James", year=2009, stars=10)
type(movie_2), movie_2, movie_2.name, movie_2.year

(__main__.movie, movie(name='James', year=2009), 'James', 2009)

In [34]:
#to get dict from BaseModel class instance
movie_2.model_dump()

{'name': 'James', 'year': 2009}

### Enumerations

In [ ]:
##Enumerations
class Stars(int, Enum):
    zero = 0
    one = 1
    two = 2
    three = 3
    four = 4
    five = 5

In [48]:
class Movie(TypedDict):
    name:str
    year:int
    stars:Stars
movie_1 = Movie(name="James", year=2009, stars=20)
type(movie_1), movie_1, movie_1.get('name'), movie_1.get('year')

(dict, {'name': 'James', 'year': 2009, 'stars': 20}, 'James', 2009)

In [46]:
class movie(BaseModel):
    name:str
    year:int = Field(ge=1920, le=2050)
    stars:Stars
movie_3 = movie(name='James', year=2009, stars=1)
movie_3.stars, movie_3.stars.value

(<Stars.one: 1>, 1)

### Lambda Functions        
* Can be used to define sinple funcations without using *def*.      
* Ideal for one line functions.          
* Also used in cases where a function only be needed be used once.                        
* *lambda* arguemnts : expression

In [2]:
add = lambda x,y : x+y
add(10,11)

21

In [3]:
square = lambda x : x*x
square(10)

100

In [4]:
#no arguments
hello = lambda: "Hello world"
hello()

'Hello world'

In [6]:
#lambda with list builtin
nums = [1,2,3,4,5]
squared = list(map(lambda x: x**2, nums))

In [7]:
filtered = list(filter(lambda x:x%2==0, nums))
filtered

[2, 4]

In [8]:
ops = {
    'add' : lambda x,y:x+y,
    'sub' : lambda x,y:x-y
}

In [9]:
ops['add'](10,12), ops['sub'](12,10)

(22, 2)

## Type Hinting
* Type hinting errors will be captured by type checkers such as *mypy*

### Annotated           
*Annotated is a tool that can be used to give additional information in addition to the data type.
*This additional metadata can be read for extra functionality.
* Annotated[data type, metadata]
    * data type - actual data type. eg - int, str, List[int], etc...
    * metadata - can be string a class etc..

In [ ]:
from fastapi import Form, Query
from typing import Annotated

In [14]:
a = Annotated[int, "must be positive"]
a.__metadata__, type(a.__metadata__)

(('must be positive',), tuple)

In [3]:
a = Annotated[str, Form]
type(a)

typing._AnnotatedAlias

In [13]:
a.__metadata__

('must be positive',)

In [10]:
a = Annotated[int, Query(gt=0, lt=100)]
a.__metadata__

(Query(PydanticUndefined),)

### Sequence          
* Sequence is used to type hint a variable as a readable sequence.
* So the input can be ither a list, tuble, string, numpy array or any other readable sequence.
* A *Sequence* is a base class which have the following properties :                   
    * len()       
    * indexing (seq[0])          
    * can be read-only (in-mutable, no append, pop or other mutable functionality)

In [7]:
from typing import Sequence

In [17]:
def print_sequence(items:Sequence):
    for i,item in enumerate(items):
        print(f"{i} : {item}")

print_sequence([1,2,3,4,5])
print('\n')
print_sequence("Hello")
print('\n')
print_sequence((10,12,13))

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5


0 : H
1 : e
2 : l
3 : l
4 : o


0 : 10
1 : 12
2 : 13

In [20]:
def print_sequence(items:Sequence):
    items.append('tail')
    for i,item in enumerate(items):
        print(f"{i} : {item}")

print_sequence([1,2,3,4,5])
print('\n')
try:
    print_sequence("Hello")
except Exception as e:
    print(f"Exception : {e}")
print('\n')
try:
    print_sequence((10,12,13))
except Exception as e:
    print(f"Exception : {e}")

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : tail


Exception : 'str' object has no attribute 'append'


Exception : 'tuple' object has no attribute 'append'

### MutableSequence        
* Similar to *Sequence* but only excepts mutable sequences.

In [22]:
from typing import MutableSequence

def print_sequence(items:MutableSequence):
    items.append('tail')
    for i,item in enumerate(items):
        print(f"{i} : {item}")

print_sequence([1,2,3,4,5])
print('\n')

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : tail

### Generator         
* A generator is a special kind of Python object that produces a sequence of values lazily, one at a time, as you iterate over it.
* Think of it like a factory that makes one item on demand — rather than building the entire list up front.       
* Works for sequence type generations.

##### One

In [27]:
mylist = [i * i for i in range(3)] # generates the entire list at once
mylist

[0, 1, 4]

In [28]:
mygen = (i * i for i in range(3)) # geneartes a generator (recipe on how to generate the numbers)
#numbers can be generated by passing throught a for loop or can be converted to a list
for num in mygen:
    print(num)

0
1
4

In [29]:
mygen = (i * i for i in range(3))
list(mygen)

[0, 1, 4]

#### Two

In [32]:
def count_up_to(n):
    i = 1
    while i <= n:
        yield i
        i += 1

gen = count_up_to(3)
type(gen)

generator

In [33]:
for num in gen:
    print(num)

1
2
3

In [ ]:
#deccorator, mutable, immutable, yield